.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tilføjet en svag skygge for dybde */
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 1.5rem;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover,
.link.active {
    color: #ff79c6;;
}
