.restart-button{
    font-size: 55px;
    position: absolute;
    margin: auto;
    top: 50%;
    padding: 10px;
    z-index: 1;
    color: black;
    backdrop-filter: blur(3px);
    text-align: center;
}

.restart-button:hover,
.restart-button.active {
    color: #ff79c6;;
}
.press-enter{
    font-size: 29px;
    position: absolute;
    margin: auto;
    top: 60%;
    padding: 10px;
    z-index: 1;
    color: black;
    text-align: center;
    backdrop-filter: blur(3px);
}



